.background {
  viewport-fill: black;
}

#Affirmation {
  x: 50;
  y: 123;
  width: 100%-100;
  fill: #bbbbbb;
  font-family: System-Regular;
  font-size: 19;
  text-anchor: middle;
  text-length: 100;
  display-align: before;
  rows: 2;
}

.Clock-text {
  font-size: 80;
  fill: white;
  text-anchor: middle;
  y: 125;
  text-length: 4;
}

#Clock-hours {
  font-family: System-Light;
  x: 50%-63;
}

#Clock-colon {
  font-family: System-Regular;
  x: 50%;
  y: 115;
}

#Clock-minutes {
  font-family: System-Bold;
  x: 50%+63;
}

#AMPM-indicator {
  font-family: System-Light;
  font-size: 24;
  fill: white;
  text-anchor: middle;
  text-length: 4;
  
  x: 100%-22;
  y: 125-22;
}

#AMPM-indicator-M {
  font-family: System-Light;
  font-size: 24;
  fill: white;
  text-anchor: middle;
  text-length: 4;
  
  x: 100%-22;
  y: 125;
}

#Date {
  fill: white;
  font-family: System-Bold;
  font-size: 24;
  y: 40;
  x: 20;
  text-length: 16;
}

#DateMiddle {
  fill: white;
  font-family: System-Bold;
  font-size: 24;
  y: 40;
  x: 30%;
  text-anchor: middle;
  text-length: 16;
}

#Battery-icon {
  y: 14;
  x: 185;
  opacity: 1;
  width: 36;
  height: 36;
}

#Battery-text {
  font-family: System-Regular;
  font-size: 24;
  x: $+5;
  y: 40;
  text-length: 8;
  text-anchor: start;
}

#Heart-icon {
  y: 100%-81-26+2;
  x: 100%-76-14;
  opacity: 1;
  width: 28;
  height: 28;
  fill: fb-magenta;
}

#Heart-text {
  font-family: System-Bold;
  font-size: 26;
  x: 100%-76;
  y: 100%-91+28-2;
  text-length: 8;
  text-anchor: middle;
  fill: #ffffff;
}

.Stat-card {
  fill: #222222;
  x: 20;
  width: 120;
  height: 35;
  opacity: 1;
}

.Stat-card-icon {
  x: 25;
  opacity: 1;
  width: 30;
  height: 30;
}

.Stat-card-text {
  font-family: System-Bold;
  font-size: 20;
  x: $+5;
  text-length: 8;
  text-anchor: start;
  fill: #ffffff;
}

#Stat-0 {
  y: 100%-135;
}

#Stat-0-icon {
  y: 100%-140+8;
}

#Stat-0-text {
  y: 100%-140+45-12;
}

#Stat-1 {
  y: 100%-135+40;
}

#Stat-1-icon {
  y: 100%-140+8+40;
}

#Stat-1-text {
  y: 100%-140+45-12+40;
}

#Stat-2 {
  y: 100%-135+80;
}

#Stat-2-icon {
  y: 100%-140+8+80;
}

#Stat-2-text {
  y: 100%-140+45-12+80;
}
